name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Check Rust code compiles
        working-directory: src-tauri
        run: cargo check --all-features

      - name: Run Rust linter
        working-directory: src-tauri
        run: cargo clippy --all-features -- -D warnings

      - name: Run Rust tests
        working-directory: src-tauri
        run: cargo test --all-features
